@charset "UTF-8";
a{
    background-color: gray;
    font-family: Andale Mono, monospace;
}
a:link,a:visited,a:active{
    color: white;
}
a:hover{
    color: yellow;
}
#subtext{
    padding-bottom: -10px;
    top: -50px;
    left:0px;
    margin-left: 0px;
}
* {
    background-color: #97d7fa;
}
h1 {
    font-family: Georgia, serif;
    font-size: 75;
    text-align: center;
    background-color: #fff5be;
    color: black;
    border: 2px dashed yellow;
    margin-left: 4em;
    margin-right: 4em;
}
h2 {
    font-family: Georgia, serif;
    font-size: 50;
    text-align: center;
}
#start_page {
    font-family: Verdana, sans-serif;
    font-size: 50;
    text-align: center;
}
a {
    border: 1.5px solid black;
    padding: 0.25em;
    float: center;
    z-index: 0;
}
a:hover{
    border-color: yellow;
    border: 2.5px solid yellow;
    padding: 20px;
}
@keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-40px);
    }
}

main {
    margin: 2em;
    font-family: Mono, monospace; 
}
h3 {
    font-size: 30;
    background-color: #fff5be;
    border: 2px dashed rgb(201, 201, 201);
    padding: 0.25em;
}
p {
    font-size: 18;
    background-color: rgb(255, 255, 255);
    padding: 0.5em;
}
ol, li {
    background-color: rgb(255, 255, 255);
}
#footer {
    background-color: #97d7fa;
    text-align: center;
}