@charset "UTF-8";
a{
    background-color: gray;
    font-family: Andale Mono, monospace; 
}
a:link,a:visited,a:active{
    color: white;
}
a:hover{
    color: yellow;
}
h2{
    padding-bottom: -10px;
    top: -50px;
    left:0px;
    margin-left: 0px;
    animation: pop 1s infinite;
}
@keyframes pop {
    50% {font-size:45px;}

}